body {
  background: #15211c;
}

.App footer {
  text-align: center;
  margin-top: -13px;
  font-family: 'Italiana', serif;
  color: #ffd8d8;
  font-size: 15px;
}

.App .container-main {
  max-width: 490px;
  margin: 15px auto;
  padding: 10px 40px;
  background-image: url("palm.jpg");
  border-radius: 30px;
  border: 6px solid #0D1411;
}

.App .link {
  color: #ffd8d8;
  text-shadow: 0 0 5px #F766AE,
        0 0 10px #ff7bac,
        0 0 20px #F0178F,
        0 0 40px #F0178F,
        0 0 80px #F0178F,
        0 0 90px #F0178F,
        0 0 100px #F0178F,
        0 0 150px #F0178F;
}
