@font-face {
  font-family: neon;
  src: url("hellodenverdisplayregular_v1.6.ttf");
}

button {
  border: none;
  background: none;
  color: white;
  opacity: 0.6;
  transition: all 20ms ease-in-out;
  font-size: 20px;
}

button:hover {
  opacity: 0.9;
  text-shadow: 0 0 5px #F766AE,
        0 0 10px #ff7bac,
        0 0 20px #F0178F,
        0 0 40px #F0178F,
        0 0 80px #F0178F,
        0 0 90px #F0178F,
        0 0 100px #F0178F,
        0 0 150px #F0178F;
}

button:focus {
  outline: none;
  text-shadow: 0 0 5px #F766AE,
        0 0 10px #ff7bac,
        0 0 20px #F0178F,
        0 0 40px #F0178F,
        0 0 80px #F0178F,
        0 0 90px #F0178F,
        0 0 100px #F0178F,
        0 0 150px #F0178F;
}

input[type="search"] {
  background-color: white;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
  opacity: 0.5;
}

h3 {
  font-size: 17px;
  text-align: center;
  color: #ffd8d8;
  margin-top: 20px;
  margin-bottom: -65px;
  font-family: 'Italiana', serif;
  text-transform: lowercase;
}

ul {
  list-style-type: none;
  color: #ffd8d8;
  font-size: 18px;
  font-family: 'Italiana', serif;
  text-transform: lowercase;
  display: inline-block
 
}

 a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #ffd8d8;
}

.active {
  color: #ffd8d8;
  text-shadow: none;
}

 .active:hover {
  text-decoration: none;
}

.city-name {
  text-transform: uppercase;
}

.description {
  text-transform: uppercase;
  font-weight: bold;
  font-family: neon;
  font-size: 38px;
  color: #ffd8d8;
  opacity: 0.6;
}

.form {
  outline: none;
}

canvas {
  color: white;
  opacity: 0.4;
  display: inline-block;
}

 .neon-text {
  font-family: neon;
  line-height: 65px;
  text-align: center;
  font-size: 50px;
  color: #ffd8d8;
  padding: 0 1.5rem 0 1.5rem;
  text-shadow: 0 0 5px #F766AE,
        0 0 10px #F0178F,
        0 0 20px #F0178F,
        0 0 80px #F0178F,
        0 0 90px #F0178F,
        0 0 100px #F0178F,
        0 0 150px #F0178F;
}

.neon-wrapper {
  box-shadow: 0 0 0.1vw 0.3vw #fff7f7, 0 0 0.4vw 0.6vw #F766AE,
    0 0 4vw 0.4vw #F0178F, inset 0 0 1.5vw 0.4vw #F0178F,
    inset 0 0 0.4vw 0.2vw #F766AE, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1rem;
  
}

.search-city {
  text-align: center;
  top: 0px;
  margin-bottom: -10px;
}

.wrapper {
  width: 50vm;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -55px;
}

.bigger {
  font-size: 21px; 
}

.container {
  position: relative;
  left: 40px;
}

@media (max-width: 580px) {
  .container {
    left: 20px;
  }
}
